<!--views/pages/chakra.ejs this is the template for all the seven different chakras, dynamic info is being injected from chakras.js -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/header %>
    </header>
   
    <section class="title-container">
        <p class="chakra-title"><%= user.chakras[user.current].title %> Chakra</p>
        <img src="../img/<%= user.current %>.png" alt="root chakra" class=<%= user.current %> >
    </section>    
        <div class="container">
            <p class="description"><%= user.chakras[user.current].description %></p>
            <ul class="chakra-list">
                <li><strong>Location:</strong> <%= user.chakras[user.current].location %></li>
                <li><strong>Color:</strong> <%= user.chakras[user.current].color %></li>
                <li><strong>How it affects you:</strong><%= user.chakras[user.current].affects %></li>
            </ul>
            <p><strong class=""><%= user.chakras[user.current].title %> Chakra Meditation:</strong><%= user.chakras[user.current].meditation %></p>
            <div class="form-group">
              <label for="comment">Did you connect with your chakra doing the exercise? Write down your thoughts here:</label>
              <textarea class="form-control" rows="5" id="comment-one"></textarea>
            </div>
            <p><%= user.chakras[user.current].yoga %><img src="../img/<%= user.chakras[user.current].yogaImage %>" alt="yoga pose"></p>
            <div class="form-group">
              <label for="comment">Write down any relieve or tensions you felt on your body doing this pose:</label>
              <textarea class="form-control" rows="5" id="comment-two"></textarea>
            </div>
            <div class="form-group">
              <label for="comment">My lessons learned today about this chakra:</label>
              <textarea class="form-control" rows="5" id="comment-three"></textarea>
            </div>
        </div>
   
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>